.body {
    margin: 0;
    padding:0;
}
.top {
    height: 68px;
    border-bottom-style: inset;
}
.logo{width :1200px;margin :0 auto}
.logo_left {
    width: 40px;
    float:left;
    padding-top:10px;
}

.logo_right {
    width: 800px;
    float:right;
}
.top ul{list-style-type:none;}
.top li {
    list-style-type:none ;
    float: right ;
    line-height :68px;
}

.top a:link,a:visited {
    display: block;
    width: 120px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    text-decoration: none;
}

.top a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    text-decoration: none;
}
.main {
    height:524px;
    padding-top:40px;
}

.footer {
    background-color: #373843;
    height: 410px;
    color: #333333;
}
.copywright{width:1200px;margin:0 auto;}
.footer li {
    list-style-type: none;
    float: left;
    width: 250px;
    padding-top: 40px;
    font-size: large;
    color: white;
}

.footer a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 6px;
}

.footer li ul li {
    list-style-type: none;
    float: left;
    font-size: small;
    padding: 6px;
}

.footer li ul a:link, a:visited {
    display: block;
    width: 200px;
    font-weight: normal;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}

.footer li ul a:hover, a:active {
    color: #00ffff;
}
