.demo-carousel{
    background-color :#f8f8f8;
    padding-top :50px;
    padding-bottom :50px;
    padding-left:20%;
    padding-right:20%;
}
.demo-carousel h1{
    padding-top:50px;
}
.demo-carousel p{
    font-size:large;
    padding-top :20px;
    padding-bottom :20px;
}
.demo-carousel img{
    padding-left :20px;
}

.ivu-carousel-dots-inside{
    bottom:16px;
}