
.layout {
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.ivu-layout-header {
    padding: 0px 400px;
    background-color: #ffffff;
    border-bottom-style: inset;
}
.ivu-menu{
    border-bottom-style:none;
}
.layout-logo {
    border-radius: 3px;
    float: left;
    position: relative;
    top: 10px;
    left: 20px;
}
.layout-nav {
    width: 520px;
    margin: 0 auto;
    margin-right: 20px;
}
.ivu-dropdown a:link, .ivu-dropdown a:visited {
    color: #666666;
    display: block;
    font-weight: normal;
    text-decoration: none;
}
.ivu-dropdown a:hover, .ivu-dropdown a:active {
    display: block;
    font-weight: normal;
    color: #2d8cf0;
    text-decoration: none;
}
.ivu-layout-content p {
    padding: 40px 40px 0px 40px;
    font-size:larger;
}
.ivu-layout-content {
    height: 500px;
    background-color:#ffffff;
    padding:0px 400px;
}
.ivu-layout-footer {
    background-color: #373843;
    height: 444px;
    padding:50px 400px;
}

.layout-footer-center {
    text-align: left;
}
.layout-footer-center span{
    width:100px;
}
.layout-footer-center h3{
    color:white;
    width:68px;
    border-bottom:2px solid #05cccc;
    padding-bottom:4px;
}
.layout-footer-center li {
    padding-top:20px;
    list-style-type: none;
    font-size: small;
    height: 30px;
}
.layout-footer-center a:link, a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
}

.layout-footer-center a:hover, a:active {
    display: block;
    font-weight: normal;
    color: #05cccc;
    text-decoration: none;
}
.ivu-col-span-4{
    width:25%;
}
.ivu-col-span-6 {
    width: 50%;
}
.copywright {
    padding-top: 80px;
    text-align:center;
    color :white;
}
.demo-carousel{
    
    padding :50px 400px;
}
.demo-carousel h1{
    padding-top:50px;
}
.demo-carousel p{
    padding-top :30px;
    padding-right :20px;
    font-size:larger;
}
.demo-carousel img{
    padding-left :20px;
}
.ivu-col-span-6 {
    width: 50%;
}
.ivu-carousel-dots-inside{
    bottom:16px;
}